<% content_for :title, "Your Events" %>

<h1>Your Events</h1>

<% if !@user.events.empty? %>
<p>You will be emailed at <b><%= @user.email %></b> about the following events:</p>
  <%= render partial: 'events/table', locals: { :@events => @user.events} %>
<% else %>
<p>You have not selected any events yet. <%= link_to 'You really should.', root_path %></p>
<% end %>

