<% content_for :title, :About %>

<div class="panel">
  <h3>About</h3>

  <p>I made this because I'm tired of finding out about conferences <i>after</i> they happen. It lets me keep tabs on events without year round updates.</p>

  <p>The events (<%= Event.count %> so far) are pulled from <a href="https://twitter.com/dianagliu/conferences/members">my twitter list</a> every Friday and then updated by hand. Please let me know if I've got anything wrong.</p>

  <p>Find me on twitter <a href="https://twitter.com/dianagliu">@diangliu</a> or submit a PR <a href="https://github.com/dianaliu/ls-tech-events">on github</a>.</p>

</div>